body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 30px;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(211, 211, 211, 0.438);
  position: relative;
  margin: 0;
  font-size: 16px;
  padding: 50px 0;
}

.form1,
.form2,
.form3 {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 500px;
  padding: 30px;
  background-color: #fff;
  border-radius: 30px;
  border: 1px solid #ccc;
  -webkit-box-shadow: 0px 1px 6px black;
          box-shadow: 0px 1px 6px black;
}
.form1 .paragraph,
.form2 .paragraph,
.form3 .paragraph {
  width: 100%;
  font-size: 22px;
  text-align: center;
}
.form1 .field-container,
.form2 .field-container,
.form3 .field-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 5px;
}
.form1 .field-container div,
.form2 .field-container div,
.form3 .field-container div {
  position: relative;
  width: 100%;
  height: 40px;
  overflow: hidden;
}
.form1 .field-container div.textarea-height,
.form2 .field-container div.textarea-height,
.form3 .field-container div.textarea-height {
  height: 60px;
}
.form1 .field-container div input:not([type=checkbox]),
.form1 .field-container div textarea,
.form2 .field-container div input:not([type=checkbox]),
.form2 .field-container div textarea,
.form3 .field-container div input:not([type=checkbox]),
.form3 .field-container div textarea {
  width: 100%;
  height: 100%;
  padding: 5px 40px 5px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
.form1 .field-container div input:not([type=checkbox]):focus, .form1 .field-container div input:not([type=checkbox]):focus-visible,
.form1 .field-container div textarea:focus,
.form1 .field-container div textarea:focus-visible,
.form2 .field-container div input:not([type=checkbox]):focus,
.form2 .field-container div input:not([type=checkbox]):focus-visible,
.form2 .field-container div textarea:focus,
.form2 .field-container div textarea:focus-visible,
.form3 .field-container div input:not([type=checkbox]):focus,
.form3 .field-container div input:not([type=checkbox]):focus-visible,
.form3 .field-container div textarea:focus,
.form3 .field-container div textarea:focus-visible {
  border: 1px solid #000;
  outline: none;
}
.form1 .field-container div .clear-button,
.form2 .field-container div .clear-button,
.form3 .field-container div .clear-button {
  position: absolute;
  top: 50%;
  right: 20px;
  width: 20px;
  height: 20px;
  border: none;
  outline: none;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  padding: 5px;
  cursor: pointer;
  background: url("/close.svg") no-repeat center/15px;
}
.form1 .field-container--chec,
.form2 .field-container--chec,
.form3 .field-container--chec {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
.form1 .select,
.form2 .select,
.form3 .select {
  width: 100%;
}
.form1 .btn,
.form2 .btn,
.form3 .btn {
  border: none;
  outline: none;
  background-color: #0075ff;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
  color: #fff;
  padding: 15px;
  font-size: 16px;
  font-weight: bold;
}
.form1 .btn:hover,
.form2 .btn:hover,
.form3 .btn:hover {
  background-color: #005cc8;
}

.error {
  border: 1px solid red;
}
.error-message {
  margin: 0;
  color: red;
}

.submitting-message-popup {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  opacity: 0;
  -webkit-transition: all 0.3s;
  transition: all 0.3s;
}
.submitting-message-popup.fade-in {
  opacity: 1;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.submitting-message-popup__paragraph {
  position: fixed;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background-color: #fff;
  padding: 20px;
  border: 1px solid #ccc;
}/*# sourceMappingURL=styles.css.map */